#! /bin/bash

{% if arch_nvidia_optimus %}
xrandr --setprovideroutsource modesetting NVIDIA-0
xrandr --auto
{% endif %}

# https://github.com/dunst-project/dunst/issues/347
systemctl --user import-environment DISPLAY

eval $(setxkbmap de)
eval $(ssh-agent)
exec i3
