Section "Module"
    Load "modesetting"
EndSection

Section "Device"
    Identifier "nvidia"
    Driver "nvidia"
    BusID "{{ arch_nvidia_busid }}"
    Option "AllowEmptyInitialConfiguration"
EndSection
